.box{
    height: 200px;
    width: 300px;
    margin-left: 35%;
    margin-top: 20%;
    border: 3px solid  black;
   
}
#texto{
  text-align: center;
}

.flor{
    width: 100px;
    margin-left: 35%;
}

.font-1 {
    font-family : 'Karma', serif;
  }
  
  .font-2 {
    font-family : 'Raleway', sans-serif ;
  }
  
  .font-3 {
    font-family: 'Indie Flower', cursive;
  }
  
  .font-4 {
    font-family : 'Coiny', cursive ;
  }
  

